# Set default behavior to automatically normalize line endings
* text=auto

# Declare files that will always have LF line endings on checkout
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
